*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./pictures/babygroot.svg ');
    background-repeat: no-repeat;
    background-position:left;
    background-size:100vh;
    padding-top: 40rem;
    background-color: brown ;
}